.backdrop{
    background: linear-gradient(0deg,#435a91 80%,rgba(255,149,6,0) 99%); //a1b5d6
    width: 100%;
    height: 100%;
    position: absolute;
}
.sun{
    animation: sunAnimation ease-in-out 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: linear-gradient(180deg,rgba(255,149,6,.8) 30%,rgba(0,0,0,0));
    position: relative;
    margin-right: 50%;
    margin-left: auto;
    margin-top: -300px;
    margin-right: auto;
    border-radius: 30%;
    opacity: 0;
}


.sun-bar{
    position:absolute;
    top:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,rgba(255,149,6,.8) 0%,rgba(0,0,0,0));
    animation: sunbarAnimation 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}





@keyframes textAnimation {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
}
@keyframes sunbarAnimation{
    20%{
        opacity: 0;
    }
    60%{
        opacity: .6;
    }
}

@keyframes sunAnimation {
    0%{
        width: 500px;
        height: 500px;
        margin-top: -200vh;
        border-radius: 100%;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 500px;
        height: 500px;
        margin-top: 13vh;
        border-radius: 100%;
        opacity: 1;
    }
}
